.audio{
  width: 200px;
  height: 80px;
  position: relative;
  top: 120px;
}

.labelTitle{
  position: relative;
  left: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ion-menu::part(backdrop) {
  background-color: rgba(255, 0, 255, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}

.info-artist{
  position: relative;
  left: 80px;
}

.name{
  position: relative;
  left: 140px;
}