<ion-app>
  
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Buscar
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

      <a href="">
        <ion-icon name="search-outline">
        </ion-icon> <label  style="position:relative; left: 20px;" for="">Canciones</label>
      </a>

      <br> <br>

      <a href="/info-autor">
        <ion-icon name="musical-note-outline">
        </ion-icon> <label  style="position:relative; left: 20px;" for="">Generos</label>
      </a>

    </ion-content>
  </ion-menu>

  <ion-content [fullscreen]="true" id="main-content">
    <ion-searchbar value="Shakira" (ionChange)="getMusicForArtist(value.value)" #value></ion-searchbar>

  
    <ion-grid>
      <ion-row *ngFor="let item of musicas.data">
        <ion-col size="6"><h2 style="text-align: center;  white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{item.title}}</h2>  <br> <ion-img src="{{item.album.cover_medium}}"></ion-img
        ><ion-label style="position: relative;left: 30px;" color="primary" (click)="setOpen(true)" (click)="getDetailsOfMusic(item.album.id)" (click)="getInfoArtist(item.artist.id)">Mostrar Album</ion-label>
        <br>

      
        </ion-col>
        <ion-col size="6"><audio controls src="{{item.preview}}" class="audio"></audio></ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Modal</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <div class="detailsMusic">
            <h2>{{DetailsMusic.title}}</h2>
            <ion-img src="{{DetailsMusic.cover_medium}}"></ion-img>
            <div class="tracks" *ngFor="let item of DetailsMusic.tracks.data">
              <ion-label color="danger" class="labelTitle">{{item.title}}</ion-label>
              <audio controls src="{{item.preview}}"></audio>
            </div>
          </div>

          <ion-label   class="info-artist" color="medium">Información de Artista</ion-label> 

          <br>

          <ion-label class="name">{{InfoArtist.name}}</ion-label>
          <ion-img src="{{InfoArtist.picture_medium}}"></ion-img>
          <ion-label color="tertiary" class="name perso"># Albúm: {{InfoArtist.nb_album}}</ion-label> <br>
          <ion-label color="tertiary" class="name perso"># Fans: {{InfoArtist.nb_fan}}</ion-label>

        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</ion-app>

